.idea/
.vscode/
__pycache__/

# Coverage
htmlcov/
.coverage

# files to be reworked, to be added later or removed for a moment
stock
*.out

# build
dist
build
rth.egg-info

# version file
rth/version.py